.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.info {
  padding: 30px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
  max-width: 500px;
}

.hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
